<h1>Career</h1>
<p>Since I'm still a student, I have been completing internships at a variety of companies focusing on cybersecurity, specifically vulnerability analysis. I have worked/accepted offers for roles in a government lab, small contractors, a medium sized private company, and a West Coast tech giant, leading to a well rounded skillset. I'm considering options for the next step in my career when I plan to take a full time position after graduating in May 2022.</p>
<p>For more details see my <a href="/public/files/Westhaus-Resume.pdf">resume</a>.</p>

<h2>Upcoming</h2>
<ul>
    <li>Cybersecurity Engineering Intern at Microsoft</li>
    <li>Cybersecurity Engineering Intern at Caesar Creek Software</li>
</ul>
<h2>Past</h2>
<ul>
    <li>Software Engineering Intern at Garmin, where I planned and implemented software library porting for TLS on embedded devices as part of the Core Technology team.</li>
    <li>Cybersecurity Engineering Intern at Kudu Dynamics, where I developed a program analysis system based on graph theory.</li>
    <li>Computer Science Intern - Wright Scholar at the Air Force Research Lab (AFRL) in the Gaming Research Integration for Learning Lab (GRILL), where I sourced and ingested data for an interactive training exercise model.</li>
</ul>

<h2>Skills</h2>
<ul>
    <li>
        Cybersecurity Tools
        <ul>
            <li>Binary: Ghidra, AFL, GDB, Bochs, pwntools</li>
            <li>Networking: Wireshark, Nmap, socket libraries, Aircrack-ng</li>
            <li>Other: Binwalk, JtR, Metasploit, forensics software</li>
        </ul>
    </li>
    <li>
        General Computing
        <ul>
            <li>Languages: C, Python</li>
            <li>Environments: Linux, Git, Bash</li>
        </ul>
    </li>
    <li>
        Soft Skills
        <ul>
            <li>Leadership</li>
            <li>Communication</li>
            <li>Spanish</li>
        </ul>
    </li>
</ul>

