---
title: Career
---

<h1>Career</h1>
<p>Currently (since August 2022) working as a Security Software Engineer at Microsoft as part of <a href="https://news.microsoft.com/innovation-stories/morse-microsoft-offensive-research-security-engineering/">MORSE</a>. When I was in undergrad I completed internships at a variety of companies focusing on cybersecurity, specifically vulnerability research. I have worked at a government lab, small contractors, a medium sized private company, and a West Coast tech giant, leading to a well rounded skillset.</p>

<p>For more details see my <a href="/public/files/Westhaus-Resume.pdf">resume</a>.</p>

<h2>Past</h2>
<ul>
    <li>Vulnerability Research Intern at Microsoft, where I found an arbitrary kernel memory disclosure (<a href="https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-41336">CVE-2021-41336</a>) via syscall fuzzing and developed a proof of concept exploit.</li>
    <li>Cybersecurity Engineering Intern at Caesar Creek Software, where I obtained a root shell for a device running a customized Linux-based operating system through initramdisk injection.</li>
    <li>Software Engineering Intern at Garmin, where I planned and implemented software library porting for TLS on embedded devices as part of the Core Technology team.</li>
    <li>Cybersecurity Engineering Intern at Kudu Dynamics, where I developed a program analysis system based on graph theory.</li>
    <li>Computer Science Intern - Wright Scholar at the Air Force Research Lab (AFRL) in the Gaming Research Integration for Learning Lab (GRILL), where I sourced and ingested data for an interactive training exercise model.</li>
</ul>

<h2>Skills</h2>
<ul>
    <li>
        Cybersecurity Tools
        <ul>
            <li>Binary: <a href="https://github.com/cscosu/ctf-writeups/tree/master/2021/utctf/Algorithm">Ghidra (example)</a>, GDB, WinDbg, pwntools, AFL, Bochs</li>
            <li>Networking: <a href="https://github.com/cscosu/ctf-writeups/tree/master/2021/utctf/Hack_Bobs_Box">Wireshark</a>, Nmap, <a href="https://github.com/kwesthaus/UrbanRain">socket libraries</a>, Aircrack-ng</li>
            <li>RF: <a href="https://github.com/cscosu/ctf-writeups/tree/master/2021/utctf/rf_is_spOOKy">Inspectrum</a>, <a href="https://github.com/kwesthaus/ez-sniff">GNU Radio</a>, Gqrx</li>
            <li>Other: Binwalk, JtR, Metasploit, forensics software</li>
        </ul>
    </li>
    <li>
        General Computing
        <ul>
            <li>Languages: C, Python</li>
            <li>Environments: Linux, Git, Bash, Windows kernel, <a href="https://github.com/ectf-osu/saffire/tree/submission">embedded ARM</a></li>
        </ul>
    </li>
    <li>
        Soft Skills
        <ul>
            <li>Leadership</li>
            <li>Communication</li>
            <li>Spanish</li>
        </ul>
    </li>
</ul>

